body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #020D18;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
}
